#headings {
  margin-top: 4em;
  padding-left: 0.5em;
}

#projects {
  padding-left: 0.5em;
}

#about {
  padding-left: 0.5em;
  max-width: 470px;
  color: #fff;
}

@media only screen and (min-width: 478px) {

  #headings {
    text-align: center;
  }

  #projects {
    text-align: center;
  }

  #about {
    margin: auto;
  }
}
