.template {
  display: none;
}

.caption {
  font-size: 15px;
  margin: auto;
  background-color: #d58936;
  color: #000;
  border: solid #3c1518 5px;
  border-top-width: 1px;
  border-bottom-width: 5px;
  padding: 0 1em 0 1em;
}

#about p {
  font-family: 'Droid Serif', serif;
}
