/* base */
* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

#headings {
  margin-top: 3.5em;
  padding-left: 0.5em;
}

.item {
  display: inline-block;
}

img {
  max-width: 100%;
  border: solid #888 10px;
}

#projects {
  padding-left: 0.5em;
}

.caption {
  max-width: 470px;
  margin-top: -0.1em;
  margin-bottom: 1.5em;
  background-color: #ddd;
}

#about {
  padding-left: 0.5em;
  max-width: 470px;
}

footer {
  text-align: center;
  background-color: #ddd;
  margin-bottom: -2em;
  padding-top: 1em;
  padding-bottom: 1em;
}

@media only screen and (min-width: 478px) {

  #headings {
    text-align: center;
  }

  #projects {
    text-align: center;
  }

  .items {
    padding-left: 2em;
  }

  #about {
    margin: auto;
  }

  footer {
    margin-top: 4em;
  }
}
